xlrd
openpyxl
psutil
git+https://github.com/sharksmhi/sharkpylib.git@v0.1.0
git+https://github.com/sharksmhi/ctdpy.git@v0.1.0
git+https://github.com/sharksmhi/ctdvis.git@v0.1.0
git+https://github.com/sharksmhi/file_explorer.git@v0.1.1
git+https://github.com/sharksmhi/svepa.git@v0.1.0