xlrd
openpyxl

# https://raw.githubusercontent.com/sharksmhi/sharkpylib/master/requirements.txt
# https://raw.githubusercontent.com/sharksmhi/ctdpy/master/requirements.txt

# -r https://github.com/sharksmhi/sharkpylib/raw/master/requirements.txt
# -e git+https://github.com/sharksmhi/sharkpylib#egg=sharkpylib

# -r https://github.com/sharksmhi/ctdpy/raw/master/requirements.txt
# -e git+https://github.com/sharksmhi/ctdpy#egg=ctdpy

# Unsure about version for matplotlib. 1.5.1 does not seem to work via pip
